.footer-widget-wrapper {
  .widget {
    padding: 0;
    border: none;
    padding-bottom: 0;
  }

  .widget_title {
    border-left: none;
    padding-left: 0;
    font-size: 30px;
    font-family: $title-font;
  }

  .widget_meta,
  .widget_pages,
  .widget_archive,
  .widget_categories,
  .widget_nav_menu {
    margin-bottom: 20px;

    .widget_title {
      margin-bottom: 30px;
    }

    li {
      >span {
        @include equal-size(auto);
        position: relative;
        background-color: transparent;
        color: $body-color;
        line-height: 1;
      }
    }
    
    a {
      background-color: transparent;
      padding: 0;
      position: relative;
      margin-bottom: 15px;
      display: inline-block;

      &:hover {
        background-color: transparent;
      }

      &:before {
        content: '\f101';
        font-family: $icon-font;
        margin-right: 10px;
      }
    }

  }

  .widget .vs-widget-about-author {
    .author-img {
      @include equal-size(100px);
      margin-left: 0;
    }
  }


}