.vs-cart-wrapper {

  a {
    color: inherit;
  }

  img {
    max-width: 120px;
    border: 1px solid #eee;
  }

  .vs-btn {
    border-radius: 0;
    padding: 0 20px;
    height: 50px;
    width: auto;
    line-height: 50px;
    font-size: 16px;
  }

  .cart-removeproduct {
    border: none;
    color: $title-color;
    font-size: 20px;
    background-color: transparent;
    padding: 0;
    display: inline-block;
  }

  .cart-table {

    &,
    th {
      text-align: center;
    }

    td {
      vertical-align: middle;
    }

    .actions {
      text-align: right;
      vertical-align: middle;
      padding: 0.7rem 1rem;
      padding-top: 1rem;

      form {
        float: left;
        margin-bottom: 0;
      }

    }

  }


  .vs-cart-summary {
    text-align: right;

    .summary-title {
      letter-spacing: 0;
      font-size: 26px;
      margin-bottom: 10px;
      text-align: right;
      font-weight: 700;
    }

  }


  .table-totals {

      tfoot,
      tbody {
        tr {

          td {
            padding: 0;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: right;
          }
        }
      }

      tfoot {
        tr {
          td {
            font-weight: 700;
          }
        }
      }
    }


  .vs-cart-coupon {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;


    label {
      font-size: 22px;
      font-weight: 500;
      margin-top: -10px;
      color: $title-color;
      display: block;
    }

    input {
      border-radius: 0;
      height: 50px;
      padding-left: 20px;
      font-size: 14px;
      display: inline-block;
      border: 1px solid rgba($color: #000000, $alpha: 0.10);
      width: calc(100% - 120px);
      border-right: none;
    }

    button {
      width: 120px;
      box-shadow: none;
    }
  }

}



@include lg {
  .vs-cart-wrapper {
    .cart-table {
      .actions {
        text-align: center;

        form {
          float: none;
          margin-bottom: 20px;
        }

      }


      img {
        max-width: 70px;
      }

      td {
        font-size: 14px;
      }

      .cart-removeproduct {
        font-size: 14px;
      }

    }
  }
}

@include md {
  .vs-cart-wrapper {
    text-align: center;

    .vs-btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px !important;
    }

    .actions {

      form {
        margin-bottom: 0;
      }

    }

    .cart-table {

      table {
        min-width: 700px;
      }
    }


    .vs-cart-summary {
      text-align: center;

      .summary-title {
        font-size: 22px;
        text-align: center;
      }

      .table-totals {
        text-align: center;

        tfoot tr td,
        tbody tr td {
          text-align: left;

          +td {
            text-align: right;
          }
        }
      }

    }
  }
}