

.vs-checkout-area {
  .nice-select,
  .form-control {
    @extend .border;
  }

  .vs-billing-differentAddress {
    display: none;
  }

  .vs-cart-coupon {
    label {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 20px;
      text-transform: none;
      color: $title-color;
      font-weight: 600;
      font-family: $title-font;
    }
  }


  table {
    td+td,
    th+th {
      text-align: right;
    }
  }


  .vs-checkout-submit {
    label {
      line-height: 1.4;
      margin-top: -2px;
    }
  }



}


table.checkout-ordertable {

  td,
  th {
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }


  thead {
    th {
      font-size: 18px;
      font-weight: 700;
      padding-top: 0;
    }
  }

  tfoot {
    td {
      font-weight: 700;
    }

    tr {
      &:last-child {
        border-bottom: none;


        td {
          font-size: 22px;
        }
      }
    }
  }
}






@include md {
  .vs-checkout-area {

    .vs-checkout-payment {
      font-size: 14px;

      .title {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    table.checkout-ordertable {
      thead {
        th {
          font-size: 15px;
        }
      }
    }

    .vs-orderinfo-wrap {
      table.checkout-ordertable {

        td,
        th {
          padding: 0;
          padding-bottom: 10px;
          padding-top: 10px;
          font-size: 12px;
        }

        th {
          padding-top: 0 !important;
        }

        tfoot {
          tr {
            &:last-child {
              td {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
