.food-menu-style3 {
  a {
    padding: 15px 30px;
    padding-top: 0;
    display: inline-block;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -6px;
      margin-left: -7px;
      border-top: 14px solid transparent;
      border-right: 14px solid transparent;
      transform: rotate(45deg);
      transition: all ease 0.4s;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      margin-bottom: -1px;
      background-color: transparent;
      transition: all ease 0.4s;
    }
    
    span {
      display: block;
    }
  }

  .btn-icon {
    margin-bottom: 10px;
  }
}


@include sm {
  .food-menu-style3 {
    .nav {
      display: block;
      border: none;
      text-align: center;
    }

    li {
      display: inline-block;
    }
    
    a {
      padding: 10px 10px;
      padding-top: 0;

      &:after,
      &::before {
        display: none;
      }
    }
  }
}