.product-sort-bar {
  .nice-select {
    border: 1px solid rgba($color: #000000, $alpha: 0.10);
    width: 100%;
    max-width: 250px;
    padding-right: 30px;
    padding-left: 20px;

    &:before {
      right: 20px !important;
    }

    @include sm {
      margin-left: auto;
      margin-right: auto;
    }
  }
}