.header-layout2 {
  position: relative;
  z-index: 91;

  &.position-absolute {
    right: 0;
    left: 0;
    top: 0;
  }
}

@media (min-width: $xl) {
  .header-layout2 {
    &.px-xl-115 {
      padding-left: 115px;
      padding-right: 115px;
    }
  }
}

@include xl {
  .header-layout2 {
    &.px-xl-115 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


@include md {
  .header-layout2 {
    &.position-absolute {
      position: relative !important;
    }
  }
}